* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    border: 1px red solid;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
ul {
    display: flex;
    gap: 10px;
    list-style: none;
    text-decoration: none;
}

main {
    display: grid;
    grid-template: repeat(2, min-content) / repeat(2, 1fr);
    padding: 10px;
}

.skill-list {
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
}

.projects {
    grid-column: 1/-1;
}

.containor {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    gap: 10px;
}

.card {
    padding: 10px;
    display: grid;
    grid-template: 1fr repeat(3, min-content) / repeat(2, 1fr);
}

.image {
    width: 100%;
    height: 100%;
    grid-row: 1/2;
    grid-column: 1/-1;
}
.title {
    grid-column: 1/-1;
    grid-row: 2/3;
}
.description {
    grid-column: 1/-1;
    grid-row: 3/4;
}
.repo {
    grid-column: 1/2;
    grid-row: 4/-1;
}
.live {
    grid-column: 2/-1;
    grid-row: 4/-1;
}
